name: CI Practica 4

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Compilar y ejecutar tests
        run: mvn -B clean test

      - name: Empaquetar JAR
        run: mvn -B package

      - name: Subir artefacto generado
        uses: actions/upload-artifact@v4
        with:
          name: practica4-jar
          path: target/*.jar
